<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Список предметов</h1>
<br>
<form action="/students" method="get">
    <input type="submit" value="Страница со студентами">
</form>
<br>
<form action="/bookPage" method="get">
    <input type="submit" value="Страница с учебниками">
</form>
<br>
<form action="/subjects/add" method="post">
    <input type="text" name="name" placeholder="Название предмета" required>
    <input type="number" name="hourInTems" placeholder="Часы в семестре" required>
    <input type="text" name="nameTeacher" placeholder="Имя преподавателя" required>
    <input type="text" name="surnameTeacher" placeholder="Фамилия преподавателя" required>
    <input type="text" name="middleNameTeacher" placeholder="Отчество преподавателя" required>
    <button type="submit">Добавить предмет</button>
</form>


<h2>Все предметы:</h2>
<ul>
    <th:block th:each="subject : ${subjects}">
        <li>
            <span th:text="${subject.name} + ' (' + ${subject.hourInTems} + ' ч.)' +
            ', Преподаватель: ' + ${subject.nameTeacher} + ' ' + ${subject.surnameTeacher} + ' ' + ${subject.middleNameTeacher}"></span>
            <form action="/subjects/update" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${subject.id}">
                <input type="text" name="name" placeholder="Название предмета" required="">
                <input type="number" name="hourInTems" placeholder="Часы в семестре" required="">
                <input type="text" name="nameTeacher" placeholder="Имя преподавателя" required="">
                <input type="text" name="surnameTeacher" placeholder="Фамилия преподавателя" required="">
                <input type="text" name="middleNameTeacher" placeholder="Отчество преподавателя" required="">
                <button type="submit">Обновить</button>
            </form>
            <form action="/subjects/delete" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${subject.id}">
                <button type="submit">Удалить</button>
            </form>
        </li>
    </th:block>
</ul>
</body>
</html>

</body>
</html>